<template>
  <link rel="stylesheet" type="text/css" href="src/heat-map_widget/heatmap.css">
  <!-- <style>
   For better performance copy here the content of heatmap.css and delete import!
   Importing external stylesheets in webComponents is not best practice. However reviewer asked to move css into separated file.
 </style> -->
  <div class="widget-conatiner">
  <div class="heat-map-filters">
    <span class="title">Demand map</span>
    <div class="filters-container">
      <div class="saleability flex-elem">
        <p class="filter-name">Saleability:</p>
        <form class="filter-saleability" action="#">
          <div class="horizontal-line"></div>

          <input type="radio" id="sale-no-filter" name="saleability">
          <span class="checkbox sale-no-filter"></span>

          <input type="radio" id="sale-care-filter" name="saleability">
          <span class="checkbox sale-care-filter"></span>

          <input type="radio" id="sale-yes-filter" name="saleability">
          <span class="checkbox sale-yes-filter"></span>

          <input type="radio" id="sale-all-filter" name="saleability" checked>
          <span class="checkbox sale-all-filter"></span>
        </form>
      </div>

      <div class="devider"></div>
      <div class="export flex-elem">
        <p class="filter-name">Export a snapshot:</p>
        <div>
          <form class="export-image" action="#">
            <input type="radio" id="image/png" name="export">
            <span class="export-checkbox"></span>

            <input type="radio" id="image/jpeg" name="export" checked>
            <span class="export-checkbox"></span>
          </form>
          <button id="saveButton">Export</button>
        </div>
      </div>
      <div class="devider"></div>

      <div class="info flex-elem">
        <p class="filter-name legend">Legend</p>
        <div class="info-demand">
          <span class="subtext">High-demand</span>
          <span class="subtext">Low-demand</span>
        </div>
        <div class="gradient-info-wrapper">
          <svg width="100%" height="4px" id="gradient-info">
            <defs></defs>
            <rect width="100%" height="100%" rx="5px" ry="5px"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class='heat-map'></div>
</div>
</template>

<script>
  (function(window, document, undefined) {
    let thisDoc = (document._currentScript || document.currentScript).ownerDocument;
    let template = thisDoc.querySelector('template').content;
    if (window.ShadowDOMPolyfill) {
      WebComponents.ShadowCSS.shimStyling(template, 'heat-map');
    }

    // Heatmap widget class
    class HeatMap extends HTMLElement {
      constructor() {
        super();
        this.colors = ['#E92A50', '#FCB816', '#25C089', '#666EFF'];
        this.levels = 5;
        this._radius = { 1: 0.22, 2: 0.27, 3: 0.4, 4: 0.5, 5: 0.8 };
        this._offset = { 1: 27, 2: 40, 3: 50, 4: 80 };
        this.labelMargin = 20;
        this.mobileCanvasHeight = 2500;
        this.rawData = [];
        this.filteredData = [];
        this.data = [];
        this.widget = null;
        this.svg = null;
        this._shadowRoot = null;
        this.size = null;
        this.positions = [];
        this.device = undefined;
        this.resize = false;
        this.fileFormat = 'image/jpeg';
      }

      // do the following after webcomponent connected
      connectedCallback() {
        this._shadowRoot = this.attachShadow({ mode: 'open' });
        let clone = document.importNode(template, true);
        this._shadowRoot.appendChild(clone);
        this.widget = this._shadowRoot.querySelector('.heat-map');
        this.size = this.widget.clientWidth;
        this.device = window.innerWidth <= 960 ? 'mobile' : 'desktop';
        this.data = {};
        this.rawData = this.getData();
        this.filteredData = this.rawData;
        this.addEventListeners();
        this.renderInfo();
        this.transformData();
        this.render();
      }

      // you can pass the api response to the widget
      // widget parse the data
      getData() {
        let json = this.getAttribute('data');
        let dataObject = JSON.parse(json);
        let keys = Object.keys(dataObject);
        let data = [];
        keys.forEach((key) => {
          data = data.concat(dataObject[key]);
        });
        data = randomizeMissingData(data); // DELETE!!! this line, if you use the final data. This is just for development for working filtering!!
        return data;
      }

      // separate data to categories
      transformData() {
        let data = {};
        this.filteredData.forEach((d) => {
          d.width = 60;
          d.height = 22;
          if (data[d.communityReady]) {
            data[d.communityReady].push(d);
          } else {
            data[d.communityReady] = [];
            data[d.communityReady].push(d);
          }
        });
        this.data = data;
        return this;
      }

      // Saleability filter with mock data
      filterData(filter) {
        let value = filter === 'sale-no-filter' ? 1 : filter === 'sale-care-filter' ? 2 : filter === 'sale-yes-filter' ? 3 : null;
        if (!value) {
          this.filteredData = this.rawData;
        } else {
          this.filteredData = this.rawData.filter((d) => {
            return d.shouldSell === value;
          });
        }
        this.transformData();
        this.refresh();
        return this;
      }

      // rerender widget if window size changes
      refresh() {
        let device = this.device;
        this.device = window.innerWidth <= 980 ? 'mobile' : 'desktop';
        this.positions = [];
        this.widget.innerHTML = '';
        this.render();
        return this;
      }

      // attach event listeners for:
      addEventListeners() {
        // filter event
        let radios = this._shadowRoot.querySelectorAll('.filter-saleability input');
        radios.forEach((elem) => {
          elem.addEventListener('click', () => {
            this.filterData(elem.id);
          });
        });

        // png/jpg switch
        let types = this._shadowRoot.querySelectorAll('.export-image input');
        types.forEach((elem) => {
          elem.addEventListener('click', () => {
            this.fileFormat = elem.id;
          });
        });

        // window size change
        d3.select(window).on("resize", () => {
          this.size = this.widget.clientWidth;
          if (!this.resize) {
            this.resize = true;
            setTimeout(() => { // wait before rerender
              this.refresh();
              this.resize = false;
            }, 100);
          }
        });

        // export image
        let saveButton = this._shadowRoot.querySelector('#saveButton');
        saveButton.addEventListener('click', () => {
          let save = (dataBlob, filesize) => {
            let name = this.fileFormat === 'image/jpeg' ? 'demand_map_presentation.jpg' : 'demand_map_presentation.png';
            saveAs(dataBlob, name);
          }
          let svgString = getSVGString(this.svg.node(), this._shadowRoot);
          let mobileWidgetHeight = window.getComputedStyle(this.widget).height;
          mobileWidgetHeight = parseInt(mobileWidgetHeight.substring(0, mobileWidgetHeight.length - 2));
          let height = this.device === 'mobile' ? 2 * mobileWidgetHeight : 2 * this.size;
          svgString2Image(svgString, 2 * this.size, height, this.fileFormat, save);
        });
      }

      // creates svg
      // renders background and data
      render() {
        if (this.device === 'desktop') {
          this.createSvg(this.size);
          this.renderDesktopBg();
        } else {
          this.createSvg(this.mobileCanvasHeight);
          this.renderMobileBg();
        }
        this.renderData();
      }

      // render background for mobile and tablet device
      renderMobileBg() {
        addGradient(this._shadowRoot, 'svg#svg-canvas defs', 'vertical', this.colors);
        this.svg.append('rect')
          .attr('width', '100%')
          .attr('height', `${this.mobileCanvasHeight}px`)
          .style('fill', 'url(#linearGradient_vertical)');
      }

      // render background for desktop device
      renderDesktopBg() {
        for (let i = this.colors.length; i >= 1; i--) {
          this.svg.append('circle')
            .attr('cx', '50%').attr('cy', '50%')
            .attr('r', this._offset[i] + '%')
            .style('fill', this.colors[i - 1])
            .attr('id', 'circle-' + i)
            .style('filter', 'url(#blur-1)');
        }
      }

      // renders data for every heat level
      renderData() {
        for (let level = 1; level <= this.levels; level++) {
          this.renderNodes(level);
        }
      }

      // creates nodes and finds positions
      renderNodes(level) {
        this.svg.selectAll('.nodeGroup_' + level)
          .data(this.data[level])
          .enter().append('g')
          .attr('id', 'nodeGroup_' + level)
          .attr('class', 'nodeGroup_' + level)
          .append('text')
          .attr('class', 'text' + level)
          .text(function(d) {
            return d.name;
          })
          .attr('level', function(d) {
            return level;
          })
          .attr('id', function(d, i) {
            return d.name + '_' + level + '_' + i;
          })
          .style('font-size', '12px')
          .style('font-family', 'Helvetica')
          .each(function(d) {
            let bbox = this.getBBox();
            d.width = bbox.width;
            d.height = bbox.height;
          }).each((d, i) => {
            this.calculateNodePosition(level, d, i);  // calculates position for every node
          })
          .attr('x', (d) => {
            return d.x;
          })
          .attr('y', (d) => {
            return d.y;
          });

        this.svg.selectAll('.nodeGroup_' + level)
          .append('rect')
          .attr('id', (d, i) => {
            return 'node_' + level + '_' + i;
          })
          .attr('class', 'node' + level)
          .attr('rx', 15)
          .attr('ry', 15)
          .attr('width', (d) => {
            return d.width + this.labelMargin;
          })
          .attr('height', (d) => {
            return 30;
          })
          .attr('x', (d) => {
            return d.x - this.labelMargin/2;
          })
          .attr('y', (d) => {
            return d.y - this.labelMargin;
          });
      }

      // inside the heat level's area randomize node's position. search x and y positions without overlapping
      calculateNodePosition(level, d, index) {
        let width = d.width + this.labelMargin;
        let height = d.height + this.labelMargin;
        let x;
        let y;
        let overflowX = width / 2;
        let overflowY = height / 2;
        let maxAttempts = 100;
        let ready = false;
        let desktopMargin = 10;
        let mobileMargin = this.size * 0.06;
        let mobileCategoryHeight = this.mobileCanvasHeight / this.levels;
        let isDesktop = this.device === 'desktop';

        //only for desktop
        let distancesquared = undefined;
        let radius = this.size * this._radius[level] - desktopMargin;
        let radiusInner = level - 1 <= 0 ? 0 : this.size * this._radius[level - 1] + desktopMargin;
        let angleStep = index % 2 === 0 ? 0.01 : -0.01;

        while (maxAttempts > 0 && ready !== true) {
          let available = true;
          // random x, y coordinates
          if (isDesktop) {
            // desktop
            let pt_angle = Math.random() * 2 * Math.PI;
            let pt_radius_sq = Math.random() * radius * radius;
            x = (Math.sqrt(pt_radius_sq) * Math.cos(pt_angle)) + this.size / 2 - overflowX;
            y = (Math.sqrt(pt_radius_sq) * Math.sin(pt_angle)) + this.size / 2 - overflowY;
            distancesquared = (x - (this.size / 2) + overflowX) * (x - (this.size / 2) + overflowX) + (y - (this.size / 2) + overflowY) * (y - (this.size / 2) + overflowY);
          } else {
            // mobile
            x = Math.floor(Math.random() * (this.size - 2 * (mobileMargin - width/2))) + mobileMargin;
            y = Math.floor(Math.random() * (mobileCategoryHeight - 2 * mobileMargin) + mobileMargin) + (level - 1) * mobileCategoryHeight;
          }

          // do not let labels to go outside of the canvas
          let canvasHeight = isDesktop ? this.size : this.mobileCanvasHeight;
          if ((x - this.labelMargin/2 < 0 || y - this.labelMargin < 0) || (x + width + this.labelMargin/2 > this.size || y + height + this.labelMargin > canvasHeight)) {
            available = false;
          }

          // avoid labels overlapping
          for (let pos in this.positions) {
            if (Math.abs(this.positions[pos].x - x) < width && Math.abs(this.positions[pos].y - y) < height) {
              available = false;
              break;
            }
            if (Math.abs(this.positions[pos].x - x) < this.positions[pos].width && Math.abs(this.positions[pos].y - y) < this.positions[pos].height) {
              available = false;
              break;
            }
          }

          // does not let label to overlap other heat categorie's area
          if (distancesquared && distancesquared <= radiusInner * radiusInner) {
            available = false;
          }

          // if available coordinates found push them to 'check list' and return
          if (available) {
            this.positions.push({
              x: x,
              y: y,
              width: width,
              height: height
            });
            d.x = x;
            d.y = y;
            ready = true;
            return d;
          }

          maxAttempts -= 1;

          // if no valid coordinates found remove them from canvas
          if (maxAttempts === 0 && !ready) {
            d.x = -1000;
            d.y = -1000;
            return d;
          }
        }
      }

      // cerates the base structure of svg node
      createSvg(height) {
        this.svg = d3.select(this.widget).append('svg')
          .attr('width', this.size)
          .attr('height', height)
          .attr('id', 'svg-canvas');

        // creates gaussionBlur filter definition
        this.svg.append('defs')
          .attr('id', 'defs')
          .append('filter')
          .attr('color-interpolation-filters', 'sRGB')
          .attr('id', 'svg-filter')
          .attr('id', 'blur-1')
          .attr('x', '-50%')
          .attr('y', '-50%')
          .attr('width', '200%')
          .attr('height', '200%')
          .append('feGaussianBlur')
          .attr('stdDeviation', 50);

        return this.svg;
      }

      // render gradient svg for widget's demand info
      renderInfo() {
        addGradient(this._shadowRoot, 'svg#gradient-info defs', 'horizontal', this.colors);
        let svg = this._shadowRoot.querySelector('.heat-map-filters svg rect');
        d3.select(svg).style('fill', 'url(#linearGradient_horizontal)');
      }
    };

    // gradien generator
    function addGradient(shadowRoot, defSelector, direction, colors) {
      let x2 = direction === 'horizontal' ? '100%' : '0%';
      let y2 = direction === 'horizontal' ? '0%' : '100%';
      let def = shadowRoot.querySelector(defSelector);
      d3.select(def).append('linearGradient')
        .attr('id', 'linearGradient_' + direction)
        .attr('x1', '0%').attr('y1', '0%')
        .attr('x2', x2).attr('y2', y2)
        .selectAll('stop')
        .data([{
            offset: 30 + '%',
            color: colors[0]
          },
          {
            offset: 60 + '%',
            color: colors[1]
          },
          {
            offset: 80 + '%',
            color: colors[2]
          },
          {
            offset: 100 + '%',
            color: colors[3]
          }
        ])
        .enter().append('stop')
        .attr('id', 'linear-gradient')
        .attr('offset', function(d) {
          return d.offset;
        })
        .attr('stop-color', function(d) {
          return d.color;
        });
    }


    // helper method for image save
    // generates svg string
    function getSVGString(svgNode, shadowRoot) {
      svgNode.setAttribute('xlink', 'http://www.w3.org/1999/xlink');
      let cssStyleText = getCSSStyles(svgNode);
      appendCSS(cssStyleText, svgNode);

      let serializer = new XMLSerializer();
      let svgString = serializer.serializeToString(svgNode);
      svgString = svgString.replace(/(\w+)?:?xlink=/g, 'xmlns:xlink=');
      svgString = svgString.replace(/NS\d+:href/g, 'xlink:href');

      // get css styles
      function getCSSStyles(parentElement) {
        let selectorTextArr = [];

        selectorTextArr.push('#' + parentElement.id);
        for (let c = 0; c < parentElement.classList.length; c++) {
          if (!contains('.' + parentElement.classList[c], selectorTextArr)) {
            selectorTextArr.push('.' + parentElement.classList[c]);
          }
        }

        let nodes = parentElement.getElementsByTagName("*");
        for (let i = 0; i < nodes.length; i++) {
          let id = nodes[i].id;
          if (!contains('#' + id, selectorTextArr)) {
            selectorTextArr.push('#' + id);
          }
          let classes = nodes[i].classList;
          for (let c = 0; c < classes.length; c++) {
            if (!contains('.' + classes[c], selectorTextArr)) {
              selectorTextArr.push('.' + classes[c]);
            }
          }
        }

        // Extract CSS Rules
        let extractedCSSText = "";
        let styleSheets = null;
        if (shadowRoot.styleSheets) {
          styleSheets = shadowRoot.styleSheets;
        } else if (document.styleSheets){
          styleSheets = document.styleSheets;
        }
        for (let i = 0; i < styleSheets.length; i++) {
          let s = styleSheets[i];

          try {
            if (!s.cssRules) continue;
          } catch (e) {
            if (e.name !== 'SecurityError') throw e; // for Firefox
            continue;
          }

          let cssRules = s.cssRules;
          for (let r = 0; r < cssRules.length; r++) {
            if (!contains(cssRules[r].selectorText, selectorTextArr)) {
              extractedCSSText += cssRules[r].cssText;
            }
          }
        };

        function contains(str, arr) {
          return arr.indexOf(str) !== -1;
        };
        return extractedCSSText;
      };

      // add css
      function appendCSS(cssText, element) {
        let styleElement = document.createElement("style");
        styleElement.setAttribute("type", "text/css");
        styleElement.innerHTML = cssText;
        let refNode = element.hasChildNodes() ? element.children[0] : null;
        element.insertBefore(styleElement, refNode);
      };
      return svgString;
    };

    // helper method for saving svg
    // convert svg string to image
    function svgString2Image(svgString, width, height, format, callback) {
      // detects user agent. returns true if mobile
      function userAgentIsMobile () {
        if (navigator.userAgent.match(/Android/i) ||
          navigator.userAgent.match(/webOS/i) ||
          navigator.userAgent.match(/iPhone/i) ||
          navigator.userAgent.match(/iPad/i) ||
          navigator.userAgent.match(/iPod/i) ||
          navigator.userAgent.match(/BlackBerry/i) ||
          navigator.userAgent.match(/Windows Phone/i)) {
          return true;
        } else {
          return false;
        }
      };

      let imgsrc = 'data:image/svg+xml;base64,' + btoa(unescape(encodeURIComponent(svgString)));
      let canvas = document.createElement("canvas");
      let context = canvas.getContext("2d");

      canvas.width = width;
      canvas.height = height;

      let image = new Image();
      image.name = format === 'image/png' ? 'demand_map_presentation.png' : 'demand_map_presentation.jpg';

      image.onload = function() {
        context.clearRect(0, 0, width, height);
        context.drawImage(image, 0, 0, width, height);

        canvas.toBlob(function(blob) {
          // on mobile devices you cannot download images automatically
          // you can open an image, which the user can download
          if (userAgentIsMobile()) {
            let  link = document.createElement("a");
            let  blobUrl = URL.createObjectURL(blob);
            document.body.appendChild(link);
            link.download = image.name;
            link.href = blobUrl;
            link.click();
            document.body.removeChild(link);
          } else {
            let filesize = Math.round(blob.size/ 1024) + ' KB';
            if (callback) {
              callback(blob, filesize);
            };
          }
        }, format);
      };
      image.src = imgsrc;
    };

    // DELETE!!!!! this helper method if you use the final data
    // randomize missing api response data for working filter inputs
    function randomizeMissingData (dataList) {
      dataList.forEach(function (elem) {
        elem.type = Math.floor(Math.random() * 4 + 1);
        elem.shouldSell = Math.round(Math.random()* 2) + 1;
      });
      return dataList;
    };
    window.customElements.define('heat-map', HeatMap);
  })(window, document);
</script>
