.heat-map {
  width: 100%;
  min-height: 300px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 5px;
  min-width: 250px;
}
.heat-map-filters {
  box-sizing: border-box;
  height: 160px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 24px;
  padding: 2em;
  font-family: Helvetica;
  color: #47474F;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 250px;
}
.subtext {
  color: #58595B;
}
span.title {
  box-sizing: border-box;
  font-size: 28px;
}
.legend {
  display: none;
}
.filters-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.devider {
  background-color: #EDEDF2;
  height: 100%;
  width: 1px;
  margin-left: 1em;
  margin-right: 1em;
}
.flex-elem {
  box-sizing: border-box;
  font-size: 15px;
  display: flex;
  align-items: flex-end;
  position: relative;
  width: calc((100% - 2em -1px) / 3);
}
.flex-elem.info {
  flex-direction: column;
  justify-content: flex-end;
}
.flex-elem.saleability {
  justify-content: space-between;
}
.horizontal-line {
  background-color: #EDEDF2;
  height: 5px;
  width: 100%;
  position: absolute;
  top: calc(50% + 0.5em);
}
form.filter-saleability {
  width: 100%;
  max-width: 550px;
  height: auto;
  height: 50px;
  margin-bottom: -7px;
}
form .checkbox {
  position: absolute;
  top: 50%;
  width: 0.8em;
  height: 0.8em;
  background-color: white;
  border-radius: 100%;
  border: 5px solid #EDEDF2;
}
form .checkbox:after {
  content: '\2713';
  color: white;
  position: absolute;
  left: 1px;
  bottom: -2px;
  opacity: 0;
}
form.filter-saleability input:checked:nth-of-type(1) ~ .checkbox:nth-of-type(1),
form.filter-saleability input:checked:nth-of-type(2) ~ .checkbox:nth-of-type(2),
form.filter-saleability input:checked:nth-of-type(3) ~ .checkbox:nth-of-type(3),
form.filter-saleability input:checked:nth-of-type(4) ~ .checkbox:nth-of-type(4) {
  background-color: #2196F3;
  border: 5px solid #2196F3;
}
.checkbox:nth-of-type(1), form.filter-saleability input:nth-of-type(1) {
  left: 0%;
}
.checkbox:nth-of-type(2), form.filter-saleability input:nth-of-type(2) {
  left: calc((100% - 1.4em) / 3);
}
.checkbox:nth-of-type(3), form.filter-saleability input:nth-of-type(3) {
  left: calc(((100% - 1.4em) / 3) * 2);
}
.checkbox:nth-of-type(4), form.filter-saleability input:nth-of-type(4) {
  left: calc(100% - 1.4em);
}
.checkbox:nth-of-type(1):before {
  content: 'No';
  position: absolute;
  left: -2px;
}
.checkbox:nth-of-type(2):before {
  content: 'With Care';
  position: absolute;
  left: -25px;
}
.checkbox:nth-of-type(3):before {
  content: 'Yes';
  position: absolute;
  left: -6px;
}
.checkbox:nth-of-type(4):before {
  content: 'All';
  position: absolute;
  left: -2px;
}
form {
  position: relative;
}
form.filter-saleability input, form.export-image input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  top: 50%;
  width: 2em;
  height: 2em;
}
form.filter-saleability input:checked:nth-of-type(1) ~ .checkbox:nth-of-type(1):after,
form.filter-saleability input:checked:nth-of-type(2) ~ .checkbox:nth-of-type(2):after,
form.filter-saleability input:checked:nth-of-type(3) ~ .checkbox:nth-of-type(3):after,
form.filter-saleability input:checked:nth-of-type(4) ~ .checkbox:nth-of-type(4):after {
  opacity: 1;
}
form.export-image input:checked:nth-of-type(1) ~ .export-checkbox:nth-of-type(1):after,
form.export-image input:checked:nth-of-type(2) ~ .export-checkbox:nth-of-type(2):after {
  opacity: 0;
}
.checkbox:before {
  top: -28px;
  width: auto;
  white-space: nowrap;
  text-align: center;
}
form.export-image {
  width: 100%;
  max-width: 550px;
  height: auto;
  height: 50px;
  margin-bottom: -7px;
}
form.export-image div {
  width: 70%;
}
form .export-checkbox {
  position: absolute;
  top: 50%;
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 100%;
  background-color: #2196F3;
  border: 1px solid #2196F3;
}
form.export-image input:checked:nth-of-type(1) ~ .export-checkbox:nth-of-type(1),
form.export-image input:checked:nth-of-type(2) ~ .export-checkbox:nth-of-type(2) {
  border: 1px solid #EDEDF2;
  background-color: white;
}
.export-checkbox:nth-of-type(1):before {
  content: 'JPG';
  position: absolute;
  left: 2em;
}
.export-checkbox:nth-of-type(2):before {
  content: 'PNG';
  position: absolute;
  left: 2em;
}
form .export-checkbox:after {
  content: '';
  background-color: white;
  position: absolute;
  width: 0.7em;
  height: 0.7em;
  border-radius: 100%;
  left: 0.3em;
  bottom: 0.3em;
  opacity: 1;
}
.export-checkbox:nth-of-type(1), form.export-image input:nth-of-type(1) {
  left: 0%;
}
.export-checkbox:nth-of-type(1), form.export-image input:nth-of-type(2) {
  left: 50%;
}
.export .filter-name {
  max-width: 25%;
}
.filter-name {
  margin-bottom: 0px;
  margin-right: 20px;
}
label {
  text-align: center;
}
.export.flex-elem {
  flex-direction: row;
}
.export.flex-elem div{
  display: flex;
  flex-grow: 1;
}
.gradient-info-wrapper {
  width: 100%;
}
.info-demand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#saveButton {
  width: 85px;
  height: 30px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 4px;
  margin-top: 20px;
}
.text2, .text3, .text4, .text5, .text1 {
  fill: white;
  color: white;
}
.node1, .node2, .node3, .node4, .node5 {
  fill: rgba(0,0,0,0.1);
}

/* mobile + tablet */
@media only screen and (max-width: 980px) {
  .devider {
    display: none;
  }
  .legend {
    display: block;
  }
  .heat-map-filters {
    height: auto;
    border-radius: 4px;
    margin-bottom: 12px;
    padding: 0px;
    justify-content: flex-start;
  }
  .filter-name {
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .filters-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .flex-elem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 30px;
    padding-top: 30px;
    height: auto;
  }
  .flex-elem.saleability {
    width: 100%;
    border-right: 0px solid #EDEDF2;
    border-bottom: 1px solid #EDEDF2;
  }
  .flex-elem.export {
    width: 100%;
    flex-direction: column;
  }
  .flex-elem.info {
    width: 100%;
    border-left: 0px solid #EDEDF2;
    border-top: 1px solid #EDEDF2;
  }
  .devider {
    border: 1px solid #58595B;
  }
  .horizontal-line {
    top: calc(50% + 0.75em);
  }
  form.filter-saleability {
    margin-bottom: 0px;
  }
  form.filter-saleability input {
    width: 1.5em;
    height: 1.5em;
  }
  form .checkbox {
    width: 1em;
    height: 1em;
  }
  form .checkbox:after {
    left: 2px;
    bottom: 0px;
  }
  .checkbox:nth-of-type(2), form.filter-saleability input:nth-of-type(2) {
    left: calc((100% - 1.7em) / 3);
  }
  .checkbox:nth-of-type(3), form.filter-saleability input:nth-of-type(3) {
    left: calc(((100% - 1.7em) / 3) * 2);
  }
  .checkbox:nth-of-type(4), form.filter-saleability input:nth-of-type(4) {
    left: calc(100% - 1.7em);
  }
  .export.flex-elem div {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 70%;
    min-width: 200px;
    max-width: 300px;
  }
  .export .filter-name {
    max-width: 100%;
  }
  .export-image {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  span.title {
    font-size: 20px;
    margin-left:20px;
    margin-top: 25px;
  }
}
