body {
  margin: 0px;
  background-color: rgb(235,235,235);
}
header {
  height: auto;
}
header img {
  margin-bottom: 24px;
  width: 100%;
  height: auto;
}
footer img {
  width: 100%;
  height: auto;
  margin-top: 48px;
}
.wrapper {
  margin-left: 48px;
  margin-right: 48px;
}
.mobile {
  display: none;
}
.desktop {
  display: block;
}
@media only screen and (max-width: 980px) {
  .wrapper {
    margin-left: 15px;
    margin-right: 15px;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
